<div class='container'>
  <div class='col-md-4'></div>
  <form action="/home/ingredientsave/<%=Recipe.last.id%>" method='post'>
      <!--<p><% @arr.uniq.each do |p| %>-->
      <!--  <input  name='<%= p %>' value='<%= p %>' type="checkbox" style='margin-right:30px' id="test<%= p %>"/>-->
      <!--  <label for="test<%= p %>"><%= p %><% end %></label>-->
       
      <!--</p>-->
     <br><br>
      <div class="row">
         <div class="input-field col s12">
            <input id="title" name='ingre' type="text" class="validate">
               <label for="email" name='label' data-error="wrong" data-success="right">태그할 내용을 다음과 같은 형식으로 입력해주세요<br>ex)#옥수수캔#버터#...</label>
         </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">레시피 등록하기!
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>